.panel.panel-default
  .panel-body
    .row
      .col-md-4
        %a.thumbnail{:href => "#"}
          %img{:alt => "#{@client.name} #{@client.surname}", :src => "#{@client.photo_url}"}
      .col-md-5
        %h4
          = @client.name
          = @client.surname
        = @client.date_of_birth
        %br
        bloedgroep
        = @client.blood_type 
        %br
        Kamer 
        = @client.room
        %br
        Instelling 
        = @client.institution