.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-6
            .col-md-12
              %button.btn.btn-info.client-collapse{"data-target" => "#collapseone", "data-toggle" => "collapse", :type => "button"} Meetwaarden invullen
              #collapseone.collapse
                %br
                %button.btn.btn-primary.btn-sm{"data-target" => "#glucose", "data-toggle" => "modal", :type => "button"}
                  Glucose
                %button.btn.btn-primary.btn-sm{"data-target" => "#hba1c", "data-toggle" => "modal", :type => "button"}
                  Hba1c
                %button.btn.btn-primary.btn-sm{"data-target" => "#blood_pressure", "data-toggle" => "modal", :type => "button"}
                  Bloeddruk
                %button.btn.btn-primary.btn-sm{"data-target" => "#heartrate", "data-toggle" => "modal", :type => "button"}
                  Hartslag
                %button.btn.btn-primary.btn-sm{"data-target" => "#cholesterol", "data-toggle" => "modal", :type => "button"}
                  Cholesterol
                %button.btn.btn-primary.btn-sm{"data-target" => "#weight", "data-toggle" => "modal", :type => "button"}
                  Weight
                %button.btn.btn-primary.btn-sm{"data-target" => "#medication", "data-toggle" => "modal", :type => "button"}
                  Medication
                %button.btn.btn-primary.btn-sm{"data-target" => "#nutrition", "data-toggle" => "modal", :type => "button"}
                  Voeding
                %button.btn.btn-primary.btn-sm{"data-target" => "#log", "data-toggle" => "modal", :type => "button"}
                  Activiteit
                %button.btn.btn-primary.btn-sm{"data-target" => "#complaint", "data-toggle" => "modal", :type => "button"}
                  Klachten
                %button.btn.btn-primary.btn-sm{"data-target" => "#medication_usage", "data-toggle" => "modal", :type => "button"}
                  Insuline
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-6
            .col-md-12
              %button.btn.btn-info.client-collapse{"data-target" => "#collapsetwo", "data-toggle" => "collapse", :type => "button"} Streefwaarden invullen
              #collapsetwo.collapse
                %br
                %button.btn.btn-primary.btn-sm{"data-target" => "#glucose_target", "data-toggle" => "modal", :type => "button"}
                  Glucose
                %button.btn.btn-primary.btn-sm{"data-target" => "#hba1c_target", "data-toggle" => "modal", :type => "button"}
                  Hba1c
                %button.btn.btn-primary.btn-sm{"data-target" => "#blood_pressure_target", "data-toggle" => "modal", :type => "button"}
                  Bloeddruk
                %button.btn.btn-primary.btn-sm{"data-target" => "#heartrate_target", "data-toggle" => "modal", :type => "button"}
                  Hartslag
                %button.btn.btn-primary.btn-sm{"data-target" => "#cholesterol_target", "data-toggle" => "modal", :type => "button"}
                  Cholesterol
                %button.btn.btn-primary.btn-sm{"data-target" => "#weight_target", "data-toggle" => "modal", :type => "button"}
                  Weight

#glucose.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = render 'forms/glucose.html.haml', glucose: @glucose
#glucose_target.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = render 'forms/glucose_target.html.haml', glucose_target: @glucose_target
#hba1c.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = render 'forms/hba1c.html.haml', hba1c: @hba1c
#hba1c_target.modal.fade{"aria-labelledby" => "hba1c_target", :role => "dialog", :tabindex => "-1"}
  = render 'forms/hba1c_target.html.haml', hba1c_target: @hba1c_target
#weight.modal.fade{"aria-labelledby" => "weight", :role => "dialog", :tabindex => "-1"}
  = render 'forms/weight.html.haml', weight: @weight
#weight_target.modal.fade{"aria-labelledby" => "weight_target", :role => "dialog", :tabindex => "-1"}
  = render 'forms/weight_target.html.haml', weight_target: @weight_target
#medication.modal.fade{"aria-labelledby" => "medication", :role => "dialog", :tabindex => "-1"}
  = render 'forms/medication.html.haml', medication: @medication
#blood_pressure.modal.fade{"aria-labelledby" => "blood_pressure", :role => "dialog", :tabindex => "-1"}
  = render 'forms/blood_pressure.html.haml', blood_pressure: @blood_pressure
#blood_pressure_target.modal.fade{"aria-labelledby" => "blood_pressure_target", :role => "dialog", :tabindex => "-1"}
  = render 'forms/blood_pressure_target.html.haml', blood_pressure_target: @blood_pressure_target
#heartrate.modal.fade{"aria-labelledby" => "heartrate", :role => "dialog", :tabindex => "-1"}
  = render 'forms/heartrate.html.haml', heartrate: @heartrate
#heartrate_target.modal.fade{"aria-labelledby" => "heartrate_target", :role => "dialog", :tabindex => "-1"}
  = render 'forms/heartrate_target.html.haml', heartrate_target: @heartrate_target
#cholesterol.modal.fade{"aria-labelledby" => "cholesterol", :role => "dialog", :tabindex => "-1"}
  = render 'forms/cholesterol.html.haml', cholesterol: @cholesterol
#cholesterol_target.modal.fade{"aria-labelledby" => "cholesterol_target", :role => "dialog", :tabindex => "-1"}
  = render 'forms/cholesterol_target.html.haml', cholesterol_target: @cholesterol_target
#nutrition.modal.fade{"aria-labelledby" => "nutrition", :role => "dialog", :tabindex => "-1"}
  = render 'forms/nutrition.html.haml', nutrition: @nutrition
#log.modal.fade{"aria-labelledby" => "log", :role => "dialog", :tabindex => "-1"}
  = render 'forms/log.html.haml', log: @log
#complaint.modal.fade{"aria-labelledby" => "log", :role => "dialog", :tabindex => "-1"}
  = render 'forms/complaint.html.haml', complaint: @complaint
#medication_usage.modal.fade{"aria-labelledby" => "log", :role => "dialog", :tabindex => "-1"}
  = render 'forms/medication_usage.html.haml', medication_usage: @medication_usage