.row
  .col-md-12
    .title
      Klachten

.row
  .col-md-12
    .title-border
      %hr
.row
  .col-md-12
    .content-container2
      - @client_complaint.each do |c|
        .row
          .col-md-12
            .content
              .row
                .col-md-12
                  .complain-title
                    = c.title
              .row
                .col-md-12
                  .date-title
                    = c.complain_date.strftime('%d-%m-%Y %H:%M') if c.complain_date.present?
     
              .row
                .col-md-12
                  .author-title
                    Geschreven door: 
                    = c.author
                    (
                    = c.function
                    )
                  %br
              .row
                .col-md-12
                  .plain-text
                    = c.description if c.description.present?
        %hr