.row
  .header-text
    .col-md-4
    .col-md-2
      .legenda-overpressure
        .legenda-text
          Bovendruk
    .col-md-3
      Hartslag
      .heart
    .col-md-3
      = @heartrates.last.present? ? @heartrates.last.pulse : 'N/A'
      = @heartrates.last.present? ? @heartrates.last.activity_date.strftime("%d-%m-%Y") : 'Laatste meetmoment is onbekend'
.row
  .col-md-12

.row
  .header-text
    .col-md-4
    .col-md-2 
      .legenda-underpressure
        .legenda-text
          Onderdruk 
    .col-md-3
      Streefwaarde:
      = @client_heartrate_target.pulse
      BPM
    .col-md-3
      .past-value-heartbeat
        = @heartrates.first ? @heartrates.first.pulse.to_s : 'N/A'
        = @heartrates.first.present? ? @heartrates.first.activity_date.strftime("%d-%m-%Y") : 'Laatste meetmoment is onbekend'