
- @calender = []
- @log.each do |l| 
  - if l.activity_type_id == 1
    - @calender << "{title: '#{l.description}', start: '#{l.start_time.strftime('%Y-%m-%dT%H:%M')}', end: '#{l.end_time.strftime('%Y-%m-%dT%H:%M')}', backgroundColor: '#0E71AC'}"
  - elsif l.activity_type_id == 2
    - @calender << "{title: '#{l.description}', start: '#{l.start_time.strftime('%Y-%m-%dT%H:%M')}', end: '#{l.end_time.strftime('%Y-%m-%dT%H:%M')}', backgroundColor: '#76DD72'}"
  - elsif l.activity_type_id == 3
    - @calender << "{title: '#{l.description}', start: '#{l.start_time.strftime('%Y-%m-%dT%H:%M')}', end: '#{l.end_time.strftime('%Y-%m-%dT%H:%M')}', backgroundColor: '#FF6851'}"

    
  -if !@log.last
    - @calender << ","
:javascript

  $(document).ready(function() {
  
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultView: 'agendaWeek',
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: 
      #{@calender.to_s.gsub('"', '')}
      
    });
  });