.co-bg
.row
  .col-md-3
    .institution-image
  .col-md-8
    .search
      %form
        %input.searchfield{:placeholder => "Search...", :required => "", :type => "text"}
          %input.searchicon{:type => "image", :value => "Search"}
  .col-md-1
.row
  .col-md-12
    = link_to "Client toevoegen", new_client_path, class: "btn btn-primary pull-right"
.row
  - @client.each do |c|
    .col-md-6
      .client-container
        .col-md-2
          .client-photo
        .col-md-9
          %p.txt-clients-list-h1
            = c.name
            = c.surname
          %p.txt-clients-list-h2= c.date_of_birth
        .col-md-1
          = link_to client_path(c) do
            %div.arrow-next