.co-bg.container-fluid
.row
  .col-md-3
    .instelling-image
  .col-md-8
    .search
      %form
        %input{:placeholder => "Search...", :required => "", :type => "text"}
          %input{:type => "button", :value => "Search"}
  .col-md-1
    // search nog niet werked helaas
.row
  .col-md-12
    = link_to "Client toevoegen", new_client_path, class: "btn btn-primary pull-right"
.row
  - @client.each do |c|
    .col-md-6
      .client-container
        .col-md-2
          - if c.photo_url.present?
            %img{:src => "#{c.photo_url}", :width => "50px"}
          - else
            %img{:src => "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png", :width => "50px"}

        .col-md-9
          %p.txt-clinetenoverzicht-h1
            = c.name
            = c.surname
          %p.txt-clinetenoverzicht-h2= c.date_of_birth
        .col-md-1
          = link_to "Zie", client_path(c), class: "arrow-next" 