.row
  .col-md-2
    %a.thumbnail{:href => "#"}
      %img{:alt => "#{@client.name} #{@client.surname}", :src => "#{@client.photo_url}"}
  .col-md-5
    %h4
      = @client.name
      = @client.surname
    = @client.date_of_birth
    %br
    bloedgroep
    = @client.blood_type 
    %br
    Kamer 
    = @client.room
    %br
    Instelling 
    = @client.institution
.row
  .col-md-2
    %button.btn.btn-primary.btn-lg{"data-target" => "#glucose", "data-toggle" => "modal", :type => "button"}
      Glucose
  .col-md-2
    %button.btn.btn-primary.btn-lg{"data-target" => "#Sight", "data-toggle" => "modal", :type => "button"}
      Sight
#glucose.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  = render 'forms/form_glucose.html.haml', glucose: @glucose

#Sight.modal.fade{"aria-labelledby" => "SightLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Zicht
      .modal-body
%br 
.row
  .col-md-6
    %table.table.table-striped
      %tr
        %td client id
        %td mmol
        %td datum
      - @glucoses.each do |g|
        %tr
          %td= g.client_id
          %td= g.mmol
          %td= g.activity_date
:javascript
  var chart;

  var chartData = [
      {
          "year": 2005,
          "income": 23.5
      },
      {
          "year": 2006,
          "income": 26.2
      },
      {
          "year": 2007,
          "income": 30.1
      },
      {
          "year": 2008,
          "income": 29.5
      },
      {
          "year": 2009,
          "income": 24.6
      }
  ];


  AmCharts.ready(function () {
      // SERIAL CHART
      chart = new AmCharts.AmSerialChart();
      chart.dataProvider = chartData;
      chart.categoryField = "year";
      // this single line makes the chart a bar chart,
      // try to set it to false - your bars will turn to columns
      chart.rotate = true;
      // the following two lines makes chart 3D
      chart.depth3D = 20;
      chart.angle = 30;

      // AXES
      // Category
      var categoryAxis = chart.categoryAxis;
      categoryAxis.gridPosition = "start";
      categoryAxis.axisColor = "#DADADA";
      categoryAxis.fillAlpha = 1;
      categoryAxis.gridAlpha = 0;
      categoryAxis.fillColor = "#FAFAFA";

      // value
      var valueAxis = new AmCharts.ValueAxis();
      valueAxis.axisColor = "#DADADA";
      valueAxis.title = "Income in millions, USD";
      valueAxis.gridAlpha = 0.1;
      chart.addValueAxis(valueAxis);

      // GRAPH
      var graph = new AmCharts.AmGraph();
      graph.title = "Income";
      graph.valueField = "income";
      graph.type = "column";
      graph.balloonText = "Income in [[category]]:[[value]]";
      graph.lineAlpha = 0;
      graph.fillColors = "#bf1c25";
      graph.fillAlphas = 1;
      chart.addGraph(graph);

      chart.creditsPosition = "top-right";

      // WRITE
      chart.write("chartdiv");
  });
#chartdiv{:style => "width: 500px; height: 600px;"}