%script{:src => "https://www.amcharts.com/lib/3/amcharts.js"}
%script{:src => "https://www.amcharts.com/lib/3/serial.js"}
%script{:src => "https://www.amcharts.com/lib/3/themes/light.js"}
%script{:src => "https://www.amcharts.com/lib/3/amstock.js"}

.row
  .col-md-12
    %hr
    = render 'diabetes/client_forms.html.haml'

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-4
            %a.thumbnail{:href => "#"}
              %img{:alt => "#{@client.name} #{@client.surname}", :src => "#{@client.photo_url}"}
          .col-md-5
            %h4
              = @client.name
              = @client.surname
            = @client.date_of_birth
            %br
            bloedgroep
            = @client.blood_type 
            %br
            Kamer 
            = @client.room
            %br
            Instelling 
            = @client.institution
  .col-md-6
    .panel.panel-default
      .panel-body
        medicatie
.row
  .col-md-9
    .panel.panel-default
      .panel-body
        - @measures = []
        - @glucoses.each do |g| 
          - @measures << "{/column-2/: /#{g.mmol}/, /date/: /#{g.activity_date.strftime('%Y-%m-%d %H:%M')}/, }"
          -if !@log.last
            - @measures << ","
        // Creating right format for Chart
        - @measures = @measures.to_s.gsub('"', '')
        - @measures = @measures.to_s.gsub('/', '"')
        = render 'diabetes/glucose_chart.html.haml'
        #chartdiv{ :style => "height: 300px"}

  .col-md-3
    = render 'diabetes/hba1c.html.haml'
.row
  .col-md-9
    .panel.panel-default
      .panel-body
        - @calender = []
        - @log.each do |l| 

          - @calender << "{title: '#{l.description}', start: '#{l.start_time.strftime('%Y-%m-%dT%H:%M')}', end: '#{l.end_time.strftime('%Y-%m-%dT%H:%M')}'   }"
          -if !@log.last
            - @calender << ","
        = render 'diabetes/log_calendar.html.haml'
        #calendar{ :style => "height: 500px"}

  .col-md-3
    .panel.panel-default
      .panel-body
        KlachtenBoek
        = render 'diabetes/complaints.html.haml'
.row
  .col-md-3
    = render 'diabetes/heartrate.html.haml'
  .col-md-9
    .panel.panel-default
      .panel-body
        = render 'diabetes/bloodpressure_chart.html.haml'
        #bloodpressure{ :style => "height: 220px"}
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        = render 'diabetes/cholesterol_chart.html.haml'
        #cholesterol_chart{ :style => "height: 300px"}
  .col-md-6
    .panel.panel-default
      .panel-body
        Gewicht
        = render 'diabetes/weight_chart.html.haml'
        #weight_chart{ :style => "height: 220px"}