%script{:src => "https://www.amcharts.com/lib/3/amcharts.js"}
%script{:src => "https://www.amcharts.com/lib/3/serial.js"}
%script{:src => "https://www.amcharts.com/lib/3/themes/light.js"}
%script{:src => "https://www.amcharts.com/lib/3/amstock.js"}

.row
  .col-md-12
    %hr
    = render 'diabetes/client_forms.html.haml'

.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Cliënt
            %hr
        .row
          .col-md-3
            %a{:href => "#"}
              %img.round-profile-picture{:alt => "#{@client.name} #{@client.surname}", :src => "#{@client.photo_url}"}
          .col-md-9
            .client-name-title
              = @client.name
              = @client.surname
            .client-age-title
              = @client.date_of_birth
            %br
            .row
              %table
                %tr.tr-line-height
                  %td.col-md-3.col-styling Instelling:
                  %td.col-md-3
                    = @client.institution
                  %td.col-md-3.col-styling Gewicht:
                  %td.col-md-3 75 kg
                %tr.tr-line-height
                  %td.col-md-3.col-styling Kamer:
                  %td.col-md-3
                    = @client.room
                  %td.col-md-3.col-styling Spiermassa:
                  %td.col-md-3 03 kg
                %tr.tr-line-height
                  %td.col-md-3.col-styling Bloedgroep:
                  %td.col-md-3 A
                  %td.col-md-3.col-styling Botmassa:
                  %td.col-md-3 02 kg
                %tr.tr-line-height
                  %td.col-md-3.col-styling Lengte:
                  %td.col-md-3 165 cm
                  %td.col-md-3.col-styling Vetmassa:
                  %td.col-md-3 10 kg
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Medicatie
            %hr
        = render 'diabetes/medications.html.haml'
.row
  .col-md-8
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Glucose
            %hr
        - @measures = []
        - @glucoses.each do |g|
          - @measures << "{/column-2/: /#{g.mmol}/, /date/: /#{g.activity_date.strftime('%Y-%m-%d %H:%M')}/ }"
          -if !@glucoses.last
            - @measures << ","
        // Creating right format for Chart
        - @measures = @measures.to_s.gsub('"', '')
        - @measures = @measures.to_s.gsub('/', '"')
        = render 'diabetes/glucose_chart.html.haml'
        #chartdiv{ :style => "height: 400px"}

  .col-md-4
    = render 'diabetes/hba1c.html.haml'
.row
  .col-md-8
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Logboek
            %hr
        = render 'diabetes/log_calendar.html.haml'
        #calendar

  .col-md-4
    .panel.panel-default
      .panel-body
        = render 'diabetes/complaints.html.haml'
.row
  .col-md-4
    = render 'diabetes/heartrate.html.haml'
  .col-md-8
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Bloeddruk
            %hr
        = render 'diabetes/bloodpressure_chart.html.haml'
        #bloodpressure{ :style => "height: 220px"}
.row
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Cholesterol
            %hr
        = render 'diabetes/cholesterol_chart.html.haml'
        #cholesterol_chart{ :style => "height: 300px"}
  .col-md-6
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            .title
              Gewicht
            %hr
        = render 'diabetes/weight_chart.html.haml'
        #weight_chart{ :style => "height: 300px"}