= link_to "Gewicht toevoegen", new_weight_path

- @weight.each do |we|
  %br 
  = we.weight
  = we.activity_date

  = link_to "Edit", edit_weight_path(we)
  = link_to "Delete", weight_path(we), method: :delete, data:{confirm: "Weet u het zeker?"}
  = link_to "bekijk", weight_path(we)
  %hr