.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h4#myModalLabel.modal-title Hba1c Streefwaarde
    .modal-body
      = form_for @blood_pressure_target do |f|
        = f.hidden_field :client_id, value: params[:id]
        .form-group
          = f.label :sys, "sys" 
          
        .form-group
          = f.label :dia, "dia"
          = f.text_field :dia, placeholder: 'DIA niveau' , class: "form-control"
        .row
          .col-md-12
            = f.submit "Submit", class: "btn btn-primary pull-right"