.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h4#myModalLabel.modal-title Glucose
    .modal-body
      = form_for @glucose do |f|
        = f.hidden_field :client_id, value: params[:id]
        .form-group
          = f.label :mmol, "MMOL/l"
          = f.text_field :mmol, placeholder: 'MMOL/l niveau',class: "form-control"
        .form-group
          = f.label :activity_date, "Tijd"
          %div{:style => "overflow:hidden;"}
            .form-group
              .row
                .col-md-8
                = f.hidden_field :activity_date, class: "form_control", id: "glucose_time"
            :javascript
              $(function () {
                  $('#glucose_time').datetimepicker({
                      inline: true,
                      sideBySide: true,
                      format:'YYYY-MM-DD HH:mm'
                  });
              }); 
        .row
          .col-md-12
            = f.submit "Bevestig", class: "btn btn-primary pull-right"