.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} &times;
      %h4#myModalLabel.modal-title Gewicht streefwaarden
    .modal-body
      = form_for @weight_target do |wt|
        = wt.hidden_field :client_id, value: params[:id]
        .form-group
          = wt.label :min_weight, "Minimale streefgewicht"
          = wt.text_field :min_weight, placeholder: 'Minimale streefgewicht in kilogram',class: "form-control"
        .form-group
          = wt.label :max_weight, "Maximale streefgewicht"
          = wt.text_field :max_weight, placeholder: 'Maximale streefgewicht in kilogram',class: "form-control"
        .row
          .col-md-12
            = wt.submit "Bevestig", class: "btn btn-primary pull-right"